sudo: required
language: node_js
node_js:
- '6'
services:
- docker
git:
  depth: false
cache:
  directories:
  - ".git"
before_install:
- openssl aes-256-cbc -K $encrypted_ebf527eb4fdc_key -iv $encrypted_ebf527eb4fdc_iv
  -in key.json.enc -out key.json -d
- npm -g i npm@latest
- npm i @npm-wharf/shipwright@latest -g
- cat key.json | docker login -u=_json_key --password-stdin https://gcr.io/
install:
- npm ci
script:
- 'echo "TODO: add integration tests"'
- shipwright build image --registry=gcr.io/npm-image-registry-prod --repo=npmjs --name=npm-npm2es --tags=lm,v_s,v,miv,ma,b,b_v_c_s  --build-branches=master,qa,dev,deploy-staging,deploy-npme --flatten
