sudo: required
language: node_js
node_js:
  - '6'
services:
  - docker

git:
  depth: false
cache:
  directories:
  - .git

before_install:
  - npm -g i npm@latest
  - npm i @npm-wharf/shipwright@latest -g
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

install:
  - npm ci

script:
  - 'echo "TODO: add integration tests"'
  - shipwright build image --repo=npmjs --name=npm-npm2es --tags=lm,v_s,v,miv,ma,b,b_v_c_s --build-branches=master,qa,dev,deploy-staging,deploy-npme
